# PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# JWT  ตั้งทีหลัง
JWT_SECRET=
# Server
PORT=8080
APP_ENV=development

# Discord Webhooks
DISCORD_WEBHOOK_ALERT=
DISCORD_WEBHOOK_HOURLY=
DISCORD_WEBHOOK_EVENTS=
# Cost per kWh (Thai Baht)
COST_PER_KWH=4

# MQTT
MQTT_BROKER=
MQTT_CLIENT_ID=
MQTT_USER=
MQTT_PASS=